body {
  background-image: url("./images/doodles-5960094_1280.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
button {
  color: rgba(16, 235, 16, 0.959);
  background-color: blueviolet;
  border: 3px solid black;
  border-radius: 28px;
  padding: 10px;
  margin: 10px;
  letter-spacing: 2px;
}
#container {
  width: 47rem;
  height: 47rem;
  border: 7px solid black;
}

.grid-cell {
  box-sizing: border-box;
  float: left;
  border: 1px solid #ccc;
  background-color: white;
}

footer {
  padding: 1.5px;
  background-color: rgba(16, 235, 16, 0.959);
  margin-top: 10px;
  font-size: larger;
  border: 2px solid black;
  border-radius: 28px;
  font-size: 21px;
}
